<div data-role="view" data-title="Progress Exchange" data-layout="main" data-model="app.home" data-init='app.home.openLink' data-show="app.home.onShow" data-after-show="app.home.afterShow">
    <div class="about-view" data-bind="invisible:error">
        <div class="icon-group">
            <div class="app-details">
            </div>
        </div>
        <div class="button-group button-group-vertical">
        </div>
        <!-- START_CUSTOM_CODE_homeModel -->
        <div>
            <img src="resources/fundo  branco exchange.jpg" style="max-width:100%" />
        </div>
        <!-- END_CUSTOM_CODE_homeModel -->
    </div>
    <!-- START_CUSTOM_CODE_home -->
    <div style="text-align: center; padding: 30px;" class="">
        <h3>Workshops dia 5 de outubro</h3>
        <h3>Conferências dia 6 de outubro</h3>
        <h3>Sheraton Rio de Janeiro WTC Hotel</h3>
        <p>Centro de Convenções Piso C Avenida das Nações Unidas, 12559 Brooklin Novo, São Paulo - SP Telefone: (5511) 3055.8000 - www.sheratonsaopaulowtc.com.br</p>
    </div>
    <!-- END_CUSTOM_CODE_home -->
</div>