<div data-role="view" data-title="Local" data-layout="main" data-model="app.home" data-init="app.home.initView" data-show="app.home.onShow" data-after-show="app.home.afterShow">
    <!-- START_CUSTOM_CODE_home -->
    <div style="padding-right: 40px;">
        <h3>Sheraton São Paulo WTC Hotel</h3>
        <p>Centro de Convenções Piso C</p>
        <p>Avenida das Nações Unidas, 12559</p>
        <p>Brooklin Novo, São Paulo - SP</p>
        <p>Telefone: (5511) 3055.8000</p>
        <p>&nbsp;</p>
        <p>
            <a href="www.sheratonsaopaulowtc.com.br">www.sheratonsaopaulowtc.com.br</a>
        </p>
    </div>
    <!--Location View-->
    <div id="map-canvas"></div>
    
    <!-- END_CUSTOM_CODE_home -->
</div>