<div data-role="view" data-title="Progress Exchange 2015" data-layout="main" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow">
    <div class="about-view" data-bind="invisible:error">
        <div class="icon-group">

            <div class="app-icon">
                <img src="resources/png fundo exchange.png">
            </div>


            <div class="app-details">
                <h2>Progress Exchange 2015</h2>

            </div>
        </div>


        <div class="button-group button-group-vertical">


        </div>
        <!-- START_CUSTOM_CODE_homeModel -->
        <!-- END_CUSTOM_CODE_homeModel -->
    </div>
    <!-- START_CUSTOM_CODE_home -->
    <div style="padding-right: 40px;">
        <h3>Sheraton São Paulo WTC Hotel</h3>
        <p>Centro de Convenções Piso C</p>
        <p>Avenida das Nações Unidas, 12559</p>
        <p>Brooklin Novo, São Paulo - SP</p>
        <p>Telefone: (5511) 3055.8000</p>
        <p>&nbsp;</p>
        <p>
            <a href="www.sheratonsaopaulowtc.com.br">www.sheratonsaopaulowtc.com.br</a>
        </p>
    </div>
    <!--Location View-->
    <div id="map-canvas"></div>

    <!-- END_CUSTOM_CODE_home -->
</div>