<div data-role="view" data-title="Progress Exchange" data-layout="main" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow">
    <div class="about-view" data-bind="invisible:error">
        <div class="icon-group">
            <div class="app-details">
            </div>
        </div>
        <div class="button-group button-group-vertical">
        </div>
        <!-- START_CUSTOM_CODE_homeModel -->
        <div>
            <img src="resources/png fundo exchange.png" style="max-width:100%" />
        </div>
        <!-- END_CUSTOM_CODE_homeModel -->
    </div>
    <!-- START_CUSTOM_CODE_home -->
    <div style="text-align: center; padding: 30px;">
        <h3>Sheraton Rio de Janeiro WTC Hotel</h3> Centro de Convenções Piso C Avenida das Nações Unidas, 12559 Brooklin Novo, São Paulo - SP Telefone: (5511) 3055.8000 &nbsp;
        <a href="www.sheratonsaopaulowtc.com.br">www.sheratonsaopaulowtc.com.br</a>
        </p>
    </div>
    <!--Location View-->
    <div id="map-canvas"></div>
    
    <!-- END_CUSTOM_CODE_home -->
</div>