<div data-role="view" data-title="Workshops" data-layout="main" data-model="app.workshops" data-show="app.workshops.onShow" data-after-show="app.workshops.afterShow">
    <!-- START_CUSTOM_CODE_workshops -->
    <!-- END_CUSTOM_CODE_workshops -->
    <ul data-role="listview" data-style="inset" data-template="workshopsModelTemplate" data-bind="{ source: workshopsModel.dataSource, events: {click: workshopsModel.itemClick}}" data-pull-to-refresh="false" data-endless-scroll="false">
    </ul>
    <!-- START_CUSTOM_CODE_workshopsModel -->
    <!-- END_CUSTOM_CODE_workshopsModel -->
    <script type="text/x-kendo-template" id="workshopsModelTemplate">
        <div class="image-with-text">
            <h3>#: data['name'] #</h3>
        	<p>
                <span class="#: data.iconPresenter() #"></span> #: data['presenter'] #
            </p>
        </div>
        
    </script>
</div>